* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary: #00C86F;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5;
  --grayDark: #141414;
  --white: #FFFFFF;
  --frontEnd: #ff6b7f;
  --backEnd: #c80021;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

#root {
  min-height: calc(100vh);
  display: flex;
  flex-direction: column;
}